$navbar-height: 40px;

$cancel-float-offset: -5px;
$mobile-menu-height: 128px + $cancel-float-offset;

@import 'constants';

.navbar {
  background-color: $main-light-color;
  height: $navbar-height;
  font-family: "gotham-round";
  font-size: 15px;
  color: $main-dark-color;
  line-height: $navbar-height;
  position: fixed;
  z-index: 100;

  a {
    text-decoration: none;
    color: inherit;
  }

  .nav-cube {
    background-image: url(../img/Nav-Cube.png);
    width: 29px;
    height: 32px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 15px;
  }

  .nav-links {
    list-style-type: none;

    .nav-link {
      width: 70px;
    }
  }
}

@media (min-width: 501px) {
  .hamburger {
    display: none;
  }

  .mobile-nav-links {
    display: none;
  }
}

@media (max-width: 500px) {
  .nav-links {
    display: none;
  }

  .container {
    height: 40px;
  }

  .hamburger {
    font-size: 24px;
    line-height: $navbar-height;
  }

   .hide-mobile-nav-links {
     display: none;
   }

  .mobile-nav-links {
    background-color: $main-light-color;
    color: $main-dark-color;
    margin-left: 64.5vw;
    width: 35vw;
    height: $mobile-menu-height;

    .links {
      list-style-type: none;
      height: $mobile-menu-height;
      margin: 0;
      text-align: center;
      transform: translateY($cancel-float-offset);

      .nav-link {
    	border-style: none solid solid solid;
    	border-width: 1px;

        min-width: 35vw;
	padding: 0;
	margin: 0;

	&:hover {
	  background-color: $second-light-color;
	}
      }

      .top-nav-link {
        border-style: solid;
      }
    }
  }
}

