@import 'constants';
@import 'navbar';
@import 'body';
@import 'footer';

body {
  background-image: none;
  background-color: white;
}

@media (min-width: 319px) {
  .container {
    display: inline-block;
    padding-left: 2%;
  }
}

@media (min-width: 400px) {
  .container {
    display: inline-block;
    padding-left: 6%;
  }
}

@media (min-width: 550px) {
  .container {
    display: block;
    padding-left: 0;
  }

  .row {
    display: inline-block;
  }
}

@mixin single-img($url) {
  background-image: url($url);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin opening-image($url) {
  .opening {
    background-image: url($url);
    background-size: cover;
    background-position: center;
    height: $project-opening-image-height;
  }
}

@mixin title-banner {
  .title {
    background-color: $main-dark-color;
    text-align: center;

    .project-title {
      color: $main-light-color;
      font-family: 'gotham-round-light';
      font-size: 18px;
      font-weight: 100;
      line-height: 26px;
      padding-top: 1.5vh;
      padding-bottom: 0.2vh;
      margin: 0px;
    }

    .client {
      color: $faded-gray-color;
      font-family: 'gotham-round';
      line-height: 20px;
      font-size: 14px;
      padding-bottom: 1.8vh;
    }
  }
}

@mixin full-width-text-block {
  .full-width-text-block {
    font-family: "gotham-round";
    color: $main-dark-color;
    line-height: 22px;
    font-size: 15px;
    margin-bottom: 3vh;
  }
}

@mixin text-block {
  .text-block {
    padding-top: 4vh;
    font-family: "gotham-round";
    color: $main-dark-color;
  }
}


@mixin full-width-image-block($image-block-height: 54vh) {
  .full-width-image-block {
    background-color: $second-light-color;
    overflow: auto;
    min-height: $image-block-height;
  }
}

@mixin solution-carousel($solution-carousel-height) {
  .solution-carousel {
     min-height: $solution-carousel-height;
     padding-bottom: 5vh;
     
      .slick-dots {
        transform: translateY(-3vh);
      }

    .dot {
      color: $light-gray-color;
      font-size: 1.7vh;
    }

    .slick-active {
      color: $main-dark-color;
    }
  }
}

@mixin afterword {
  .afterword {
    margin-bottom: 7vh;
  }
}
