@import 'project_details';

@include opening-image("../img/BigEasy_Hero.png");

@include title-banner;


.project-description {
  @include full-width-text-block;
  @include full-width-image-block;
  @include text-block;

  $solution-carousel-height: 75vh;
  @include solution-carousel($solution-carousel-height);

  .image-block-1 {
    padding-top: 3vh;
    margin-bottom: 3.5vh;
  }

  .full-width-image-block {
    min-height: 46vh;
  }

  .be-problem-img {
    @include single-img("../img/BigEasy_Problem.png");
    height: 40vh;
  }

  .be-process-1-img {
    @include single-img("../img/BigEasy_Process1.png");
    margin-top: 3vh;
    margin-bottom: 6vh;
    height: 20vh;
  }

  .be-process-2-img {
    @include single-img("../img/BigEasy_Process2.png");
    height: 40vh;
    margin-bottom: 4vh;
  }

  .be-process-3-img {
    @include single-img("../img/BigEasy_Process3.png");
    height: 48vh;
    margin-bottom: 4vh;
  }

  .be-solution-1-img {
    @include single-img("../img/BigEasy_Solution1.png");
    height: $solution-carousel-height;
    margin-top: 4vh;
  }

  .be-solution-2-img {
    @include single-img("../img/BigEasy_Solution2.png");
    height: $solution-carousel-height;
    margin-top: 4vh;
  }

  .be-solution-3-img {
    @include single-img("../img/BigEasy_Solution3.png");
    height: $solution-carousel-height;
    margin-top: 4vh;
  }

  .be-solution-4-img {
    @include single-img("../img/BigEasy_Solution4.png");
    height: $solution-carousel-height;
    margin-top: 4vh;
  }

  @include afterword;

  .image-block-3 {
    @include single-img("../img/BigEasy_Afterword.png");
    height: 55vh;
    margin-top: 2vh;
  }

  @media (max-width: 700px) {
    @include solution-carousel(40vh);

    .be-process-1-img {
      height: 25vh;
    }

    .be-process-2-img, .be-process-3-img {
      height: 30vh;
    }

    .be-solution-1-img, .be-solution-2-img, .be-solution-3-img, .be-solution-4-img {
      margin-top: 4vh;
      height: 40vh;
    }

    .image-block-3 {
      height: 40vh;
    }
  }
}
