@import 'constants';
@import 'navbar';
@import 'body';
@import 'footer';

.panel {
  z-index: 0;
}

.panel#home {
  background-image: url(../img/me_being_a_hipster.jpg);
  background-size: cover;
  background-position: center;
  min-height: $splash-image-height;

  .greeting-block {
    background-color: $main-light-color;
    opacity: 0.8;
    font-size: 5.2vh;
    font-family: "cheddar-jack";
    line-height: 8vh;
    margin-top: $splash-image-height - 15vh;
    padding-left: 5vw;
    overflow: hidden;

    @media (min-width: 850px) {
      padding-left: 20vw;
    }
  }
}

.panel#work {
  overflow: auto;
  min-height: $work-height;
  margin-bottom: 5vh;

  .work-container {
    padding-top: 3vh;

    .project-card {
      height: 36.5vh;
      background-color: $second-light-color;
      -webkit-box-shadow: 1px 1px 1px 0px $work-border-color;
      -moz-box-shadow: 1px 1px 1px 0px $work-border-color;
      box-shadow: 1px 1px 1px 0px $work-border-color;
      border-radius: 5px;
      margin-top: 3vh;
      margin-bottom: 2vh;
      text-align: center;

      a {
        text-decoration: none;
      }
    }

    .project-image {
      margin: 2.6vh 1.2vw 1vh 1.2vw;
      height: 26vh;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    .project-image#video-feedback {
      background-image: url(../img/VF_Thumbnails.png);
    }

    .project-image#student-delight {
      background-image: url(../img/Rocky_Thumbnail.png);
    }

    .project-image#buddy-system {
      background-image: url(../img/Buds_Thumbnail.png);
    }

    .project-image#urban-agriculture {
      background-image: url(../img/UAE_Thumbnail.png);
    }

    .project-image#tired-chair {
      background-image: url(../img/TiredChair_Thumbnail.png);
    }

    .project-image#big-easy {
      background-image: url(../img/BigEasy_Thumbnail.png);
    }

    .project-image#vest-frands {
      background-image: url(../img/VestFrands_Thumbnail.png);
    }

    .project-text {
      color: $main-dark-color;
      height: 3vh;
      font-family: "gotham-round";
      font-size: 1.6vh;
      padding-left: 1.2vw;
      padding-right: 1.2vw;
    }
    .project-subtitle {
      color:#8E8E8E;
      height: 2vh;
      font-family: "gotham-round";
      font-size: 1.3vh;
      padding-left: 1.2vw;
      padding-right: 1.2vw;
    }
  }
}

.panel#about {
  background-color: $main-dark-color;
  overflow: visible;
  height: 100vh;

  .header-block {
    background-color: $main-light-color;
    opacity: 0.8;
    font-size: 6vh;
    font-family: "cheddar-jack";
    line-height: 8vh;
    margin-top: 6vh;
    padding-left: 22vw;

    .im-a-human-bean {
      text-decoration: none;
      color: $main-dark-color;
    }
  }

  .selfie {
    background-image: url(../img/chicago_kite.jpg);
    background-size: cover;
    height: 45vh;
    margin-top: 7vh;
  }

  .description {
    font-family: "gotham-round";
    color: $main-light-color;
    line-height: 22px;
    font-size: 15px;
    margin-top: 6vh;
    margin-bottom: 2vh;
  }

  @media (min-width: 951px) {
    .stacked-view {
      display: none;
    }
  }

  @media (max-width: 950px) {
    .wide-view {
      display: none;
    }
  }
}
