@import 'project_details';

@include opening-image("../img/VestFrands_Hero.png");

@include title-banner;

.project-description {
  @include full-width-text-block;
  @include full-width-image-block;
  @include text-block;

  $solution-carousel-height: 75vh;
  @include solution-carousel($solution-carousel-height);

  @include afterword;

  .vest-frands-problem-img {
    @include single-img("../img/VestFrands_Problem.png");
    height: 53vh;
  }

  .vest-frands-process-1-img {
    @include single-img("../img/VestFrands_Process1.png");
    height: 40vh;
    margin-bottom: 4vh;
  }

  .vest-frands-process-2-img {
    @include single-img("../img/VestFrands_Process2.png");
    height: 40vh;
    margin-bottom: 4vh;
  }

  .vest-frands-solution-1-img {
    @include single-img("../img/VestFrands_Solution1.png");
    height: $solution-carousel-height;
  }

  .vest-frands-solution-2-img {
    @include single-img("../img/VestFrands_Solution2.png");
    height: $solution-carousel-height;
  }

  .vest-frands-solution-3-img {
    @include single-img("../img/VestFrands_Solution3.png");
    height: $solution-carousel-height;
  }

  .vest-frands-solution-4-img {
    @include single-img("../img/VestFrands_Solution4.png");
    height: $solution-carousel-height;
  }

  .vest-frands-solution-1-img {
    @include single-img("../img/VestFrands_Solution1.png");
    height: $solution-carousel-height;
  }
}
