@import 'project_details';

$image-block-height: 54vh;

@include opening-image("../img/VF_Hero.png");

@include title-banner;

.project-description {
  @include full-width-text-block;

  .full-width-image-block {
    background-color: $main-light-color;
    min-height: $image-block-height;
  }

  .image-block-1 {
    padding-top: 3vh;
    margin-bottom: 3.5vh;
  }

  .vf-problem-img {
    @include single-img("../img/VF_Problem.png");
    height: 48vh;
  }

  .vf-process-1-img {
    @include single-img("../img/VF_Process1.png");
    width: 80%;
    margin-left: 10%;
    margin-top: 3vh;
    margin-bottom: 6vh;
    height: 55vh;
  }

  .vf-process-2-img {
    @include single-img("../img/VF_Process2.png");
    height: 24vh;
    margin-bottom: 4vh;
  }

  .vf-process-3-img {
    @include single-img("../img/VF_Process3.png");
    height: 24vh;
    margin-bottom: 1vh;
  }

  .vf-process-4-img {
    @include single-img("../img/VF_Process4.png");
    height: 24vh;
    margin-bottom: 6vh;
  }


  $solution-carousel-height: 75vh;

  .vf-solution-carousel {
     min-height: $solution-carousel-height;
     padding-bottom: 5vh;
     
      .slick-dots {
        transform: translateY(-3vh);
      }

    .dot {
      color: $light-gray-color;
      font-size: 1.7vh;
    }

    .slick-active {
      color: $main-dark-color;
    }
  }

  .text-block {
    padding-top: 4vh;
    font-family: "gotham-round";
    color: $main-dark-color;
  }

  .vf-solution-1-img {
    @include single-img("../img/VF_Solution1.png");
    height: $solution-carousel-height;
  }

  .vf-solution-2-img {
    @include single-img("../img/VF_Solution2.png");
    height: $solution-carousel-height;
  }

  .vf-solution-3-img {
    @include single-img("../img/VF_Solution3.png");
    height: $solution-carousel-height;
  }

  .vf-solution-4-img {
    @include single-img("../img/VF_Solution4.png");
    height: $solution-carousel-height;
  }

  .vf-solution-5-img {
    @include single-img("../img/VF_Solution5.png");
    height: $solution-carousel-height;
  }

  .vf-solution-6-img {
    @include single-img("../img/VF_Solution6.png");
    height: $solution-carousel-height;
  }

  .vf-solution-7-img {
    @include single-img("../img/VF_Solution7.png");
    height: $solution-carousel-height;
  }

  .afterword {
    margin-bottom: 7vh;

    .image-block-3 {
      @include single-img("../img/VF_Afterword.png");
      height: 55vh;
      margin-top: 2vh;
    }
  }
}
