@import 'project_details';

@include opening-image("../img/VF_Hero.png");

@include title-banner;

.project-description {
  @include full-width-text-block;
  @include full-width-image-block;

  .image-block-1 {
    padding-top: 3vh;
    margin-bottom: 3.5vh;
  }

  .vf-problem-img {
    @include single-img("../img/VF_Problem.png");
    height: 48vh;
  }

  .vf-process-1-img {
    @include single-img("../img/VF_Process1.png");
    width: 80%;
    margin-left: 10%;
    margin-top: 3vh;
    margin-bottom: 6vh;
    height: 55vh;
  }

  .vf-process-2-img {
    @include single-img("../img/VF_Process2.png");
    height: 24vh;
    margin-bottom: 4vh;
  }

  .vf-process-3-img {
    @include single-img("../img/VF_Process3.png");
    height: 24vh;
    margin-bottom: 4vh;
  }

  .vf-process-4-img {
    @include single-img("../img/VF_Process4.png");
    height: 24vh;
    margin-bottom: 6vh;
  }

  $solution-carousel-height: 75vh;

  @include solution-carousel($solution-carousel-height);

  @include text-block;

  .vf-solution-1-img {
    @include single-img("../img/VF_Solution1.png");
    height: $solution-carousel-height;
  }

  .vf-solution-2-img {
    @include single-img("../img/VF_Solution2.png");
    height: $solution-carousel-height;
  }

  .vf-solution-3-img {
    @include single-img("../img/VF_Solution3.png");
    height: $solution-carousel-height;
  }

  .vf-solution-4-img {
    @include single-img("../img/VF_Solution4.png");
    height: $solution-carousel-height;
  }

  .vf-solution-5-img {
    @include single-img("../img/VF_Solution5.png");
    height: $solution-carousel-height;
  }

  .vf-solution-6-img {
    @include single-img("../img/VF_Solution6.png");
    height: $solution-carousel-height;
  }

  .vf-solution-7-img {
    @include single-img("../img/VF_Solution7.png");
    height: $solution-carousel-height;
  }

  @include afterword;

  .image-block-3 {
    @include single-img("../img/VF_Afterword.png");
    height: 55vh;
    margin-top: 2vh;
  }

  @media (max-width: 700px) {
    @include solution-carousel(40vh);

    .vf-problem-img {
      height: 34vh;
    }

    .vf-process-1-img {
      width: 100%;
      margin-left: 0;
      height: 30vh;
    }

    .vf-solution-1-img, .vf-solution-2-img, .vf-solution-3-img, .vf-solution-4-img, .vf-solution-5-img, .vf-solution-6-img, .vf-solution-7-img {
      height: 40vh;
    }

    .image-block-3 {
      height: 32vh;
    }
  }
}
