<!DOCTYPE html>
<html lang="en">
<head>
  {{> common-head}}

  <link rel="stylesheet" href="css/big_easy.css">
</head>
<body>
  <!-- Navbar -->
  {{> navbar}}

  <!-- Opening image -->
  <section class="opening"></section>

  <!-- Project title -->
    <section class="title u-full-width">
      <p class="project-title">The Big Easy</p>
      <p class="client">Furniture Design</p>
    </section>

  <!-- Project details -->
  <section class="project-description">
     <!-- Summary -->
    <div class="row full-width-text-block text-block-1">
There is a science and algorithm of sorts to creating comfort within furniture, especially when the bodies come in various shapes and sizes. This chair is an exploration of ergonomics to a very specific end user.
    </div>

    <!-- Problem -->
    <div class="full-width-image-block image-block-1 u-full-width">
      <div class="row">
        <div class="five columns be-problem-img"></div>
        <div class="seven columns text-block">
          <p>
There is an existing formula for the average human body; ideally, humans are is about seven to eight heads tall, and everything is proportioned out from there. The abundantly clear issue is that no one is the ideal, and the term "average" hardly summarizes the spectrum of body types.
          </p>
          <p>
Acting as the model for this study in ergonomics, I had to keep in mind the following points: I am shorter than the average person (5'2"), with a longer torso to leg ratio than most, and am, in fact, 6.5 heads tall.
          </p>
        </div>
      </div>
    </div>

    <!-- Process -->
    <div class="row full-width-text-block text-block-2">
After playing around with inexpensive life sized mockups to feel out the ideal angles, heights, and depths to achieve comfort, measurements were translated into compound curves to be CNC-ed for the seat and the back. The arms and legs were built through a very controlled process of bent lamination.
    </div>
    <div class="row">
      <div class="be-process-1-img"></div>
    </div>
    <div class="row">
      <div class="be-process-2-img"></div>
    </div>
    <div class="row">
      <div class="be-process-3-img"></div>
    </div>

    <!-- Solution -->
    <div class="full-width-image-block image-block-2 u-full-width">
      <div class="row">
        <div class="solution-carousel">
          <div class="be-solution-1-img"></div>
          <div class="be-solution-2-img"></div>
          <div class="be-solution-3-img"></div>
          <div class="be-solution-4-img"></div>
        </div>
      </div>
    </div>

    <!-- Afterword -->
    <div class="afterword">
      <div class="row text-block">
The Big Easy currently resides at my parents' home in New York, where people of like size and proportion to me enjoy it every day.
      </div>
      <div class="row">
        <div class="image-block-3 u-full-width"></div>
      </div>
    </div>
  </section>

  <!-- Contact -->
  {{> footer}}

</body>
</html>
