<!DOCTYPE html>
<html lang="en">
<head>
  {{> common-head}}

  <link rel="stylesheet" href="css/big_easy.css">
</head>
<body>
  <!-- Navbar -->
  {{> navbar}}

  <!-- Opening image -->
  <section class="opening"></section>

  <!-- Project title -->
    <section class="title u-full-width">
      <p class="project-title">The Big Easy</p>
      <p class="client">Furniture Design</p>
    </section>

  <!-- Project details -->
  <section class="project-description">
     <!-- Summary -->
    <div class="row full-width-text-block text-block-1">
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
    </div>

    <!-- Problem -->
    <div class="full-width-image-block image-block-1 u-full-width">
      <div class="row">
        <div class="five columns be-problem-img"></div>
        <div class="seven columns text-block">
          <p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>

          <p>
Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          </p>
        </div>
      </div>
    </div>

    <!-- Process -->
    <div class="row full-width-text-block text-block-2">
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </div>
    <div class="row">
      <div class="be-process-1-img"></div>
    </div>
    <div class="row">
      <div class="be-process-2-img"></div>
    </div>
    <div class="row">
      <div class="be-process-3-img"></div>
    </div>

    <!-- Solution -->
    <div class="full-width-image-block image-block-2 u-full-width">
      <div class="row text-block">
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </div>
      <div class="row">
        <div class="solution-carousel">
          <div class="be-solution-1-img"></div>
          <div class="be-solution-2-img"></div>
          <div class="be-solution-3-img"></div>
          <div class="be-solution-4-img"></div>
        </div>
      </div>
    </div>

    <!-- Afterword -->
    <div class="afterword">
      <div class="row text-block">
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </div>
      <div class="row">
        <div class="image-block-3 u-full-width"></div>
      </div>
    </div>
  </section>

  <!-- Contact -->
  {{> footer}}

</body>
</html>
