<!DOCTYPE html>
<html lang="en">
<head>
{{> common-head}}

<link rel="stylesheet" href="css/buddy_system.css">
</head>
<body>
  <!-- Navbar -->
  {{> navbar}}

  <!-- Opening image -->
  <section class="opening"></section>

  <!-- Project title -->
  <section class="title u-full-width">
    <p class="project-title">The Buddy System</p>
    <p class="client">Product UI/UX Design</p>
  </section>

  <!-- Project details -->
  <section class="project-description">
    <div class="container">
      <div class="row full-width-text-block text-block-1">
	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
	et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
	aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
      </div>
    </div>
  </section>

  <!-- Contact -->
  {{> footer}}
</body>
</html>
