<!DOCTYPE htmL>
<html lang="en">
<head>
  {{> common-head}}

  <link rel="stylesheet" href="css/main.css">

  <script src="js/scroll.js"></script>
  <script src="js/index.js"></script>
</head>
<body>
  <!-- Navbar -->
  {{> navbar}}

  <a id="home"></a>

  <!-- Splash photo -->
  <section id="main">
    <section class="panel" id="home">
      <div class="five columns greeting-block">
          Oh hello! You found me!
      </div>
    </section>

    <!-- Work -->
    <a id="work"></a>
    <section class="panel" id="work">
      <div class="container work-container">
        <div class="row">
          <div class="one-third column project-card">
            <a href="video_feedback.html">
              <div class="project-image" id="video-feedback"></div>
              <div class="project-text">Student Project Feedback Loop<br>UX/UI for eSpark Learning</div>
            </a>
          </div>

          <div class="one-third column project-card">
            <a href="rocky.html">
              <div class="project-image" id="student-delight"></div>
              <div class="project-text">Student Delight<br>UX/UI for eSpark Learning</div>
            </a>
          </div>

          <div class="one-third column project-card">
            <a href="buddy_system.html">
              <div class="project-image" id="buddy-system"></div>
              <div class="project-text">The Buddy System<br>UX/Product Design</div>
	    </a>
          </div>
        </div>
        <div class="row">
          <div class="one-third column project-card">
            <a href="urban_agriculture.html">
              <div class="project-image" id="urban-agriculture"></div>
              <div class="project-text">Urban Agriculture<br>Exhibit Design</div>
	    </a>
          </div>

          <div class="one-third column project-card">
            <div class="project-image" id="rest-your-tired-bones"></div>
            <div class="project-text">Rest Your Tired Bones<br>Furniture Design</div>
          </div>

          <div class="one-third column project-card">
            <div class="project-image" id="windshield-glass"></div>
            <div class="project-text">Vestergaard Frandsen Exploration<br>Product/Business</div>
          </div>
        </div>
      </div>
    </section>

    <!-- About -->
    <a id="about"></a>
    <section class="panel" id="about">
      <div class="row banner-row">
	<!-- When screen is narrow -->
	<div class="stacked-view">
	  <div class="seven columns header-block">
	    {{> human-bean-banner}}
	  </div>
	</div>

	<!-- When screen is wide -->
	<div class="wide-view">
	  <div class="five columns header-block">
	    {{> human-bean-banner}}
	  </div>
	</div>
      </div>

      <div class="container">
	<!-- When screen is narrow -->
	<div class="stacked-view">
	  <div class="row">
	    <div class="u-full-width selfie">
	    </div>
	  </div>
	  <div class="row">
	    <div class="u-full-width description">
	      {{> about-description}}
	    </div>
	  </div>
	</div>

	<!-- When screen is wide -->
	<div class="wide-view">
	  <div class="row">
	    <div class="five columns description">
	      {{> about-description}}
	    </div>

	    <div class="seven columns selfie"></div>
	  </div>
	</div>
      </div>
    </section>

    <!-- Contact -->
    <a id="contact"></a>
    {{> footer}}
  </section>
</body>
</html>
