<!DOCTYPE htmL>
<html lang="en">
<head>
  {{> common-head}}

  <link rel="stylesheet" href="css/main.css">

  <script src="js/scroll.js"></script>
  <script src="js/index.js"></script>
</head>
<body>
  <!-- Navbar -->
  {{> navbar}}

  <a id="home"></a>

  <!-- Splash photo -->
  <section id="main">
    <section class="panel" id="home">
      <div class="six columns greeting-block">
          Oh hello! You found me!
      </div>
    </section>

    <!-- Work -->
    <a id="work"></a>
    <section class="panel" id="work">
      <div class="container work-container">
        <div class="row">
          <div class="one-third column project-card">
            <a href="video_feedback.html">
              <div class="project-image" id="video-feedback"></div>
              <div class="project-text">Student Project Feedback Loop
                <div class="project-subtitle">UX/UI for eSpark Learning</div>
              </div>
            </a>
          </div>

          <div class="one-third column project-card">
            <a href="rocky.html">
              <div class="project-image" id="student-delight"></div>
              <div class="project-text">Rocky, the eSpark Edutar
                <div class="project-subtitle">UX/UI for eSpark Learning</div>
              </div>
            </a>
          </div>

          <div class="one-third column project-card">
            <a href="buddy_system.html">
              <div class="project-image" id="buddy-system"></div>
              <div class="project-text">The Buddy System
                <div class="project-subtitle">UX/Product Design</div>
              </div>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="one-third column project-card">
            <a href="urban_agriculture.html">
              <div class="project-image" id="urban-agriculture"></div>
              <div class="project-text">Urban Agriculture
                <div class="project-subtitle">Exhibit Design</div>
              </div>
            </a>
          </div>

          <div class="one-third column project-card">
            <a href="tired_chair.html">
              <div class="project-image" id="tired-chair"></div>
              <div class="project-text">Rest Your Tired Bones
                <div class="project-subtitle">Furniture Design</div>
              </div>  
            </a>
          </div>

          <div class="one-third column project-card">
            <a href="vestergaard_frandsen.html">
              <div class="project-image" id="vest-frands"></div>
              <div class="project-text">Vestergaard Frandsen Exploration
                <div class="project-subtitle">Product/Business</div>
              </div>  
            </a>
          </div>
        </div>

        <div class="row">
          <div class="one-third column project-card">
            <a href="big_easy.html">
              <div class="project-image" id="big-easy"></div>
              <div class="project-text">The Big Easy
                <div class="project-subtitle">Furniture Design</div>
              </div>  
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- About -->
    <a id="about"></a>
    <section class="panel" id="about">
      <div class="row banner-row">
        <!-- When screen is narrow -->
        <div class="stacked-view">
          <div class="seven columns header-block">
            {{> human-bean-banner}}
          </div>
        </div>

        <!-- When screen is wide -->
        <div class="wide-view">
          <div class="five columns header-block">
            {{> human-bean-banner}}
          </div>
        </div>
      </div>

      <div class="container">
        <!-- When screen is narrow -->
        <div class="stacked-view">
          <div class="row">
            <div class="u-full-width selfie">
            </div>
          </div>
          <div class="row">
            <div class="u-full-width description">
              {{> about-description}}
            </div>
          </div>
        </div>

        <!-- When screen is wide -->
        <div class="wide-view">
          <div class="row">
            <div class="five columns description">
              {{> about-description}}
            </div>

            <div class="seven columns selfie"></div>
          </div>
        </div>
      </div>
    </section>

    <!-- Contact -->
    <a id="contact"></a>
    {{> footer}}
  </section>
</body>
</html>
