<!DOCTYPE htmL>
<html lang="en">
<head>
  {{> common-head}}

  <link rel="stylesheet" href="css/main.css">

  <script src="js/scroll.js"></script>
</head>
<body>
  <!-- Navbar -->
  {{> navbar}}

  <a id="home"></a>

  <!-- Splash photo -->
  <section id="main">
    <section class="panel" id="home">
      <div class="five columns greeting-block">
          Oh hello! You found me!
      </div>
    </section>

    <!-- Work -->
    <a id="work"></a>
    <section class="panel" id="work">
      <div class="container work-container">
        <div class="row">
          <div class="one-third column project-card">
            <a href="video_feedback.html">
              <div class="project-image" id="video-feedback"></div>
              <div class="project-text">Student Project Feedback Loop<br>UX/UI for eSpark Learning</div>
            </a>
          </div>

          <div class="one-third column project-card">
            <a href="rocky.html">
              <div class="project-image" id="student-delight"></div>
              <div class="project-text">Student Delight<br>UX/UI for eSpark Learning</div>
            </a>
          </div>

          <div class="one-third column project-card">
            <a href="buddy_system.html">
              <div class="project-image" id="buddy-system"></div>
              <div class="project-text">The Buddy System<br>UX/Product Design</div>
	    </a>
          </div>
        </div>
        <div class="row">
          <div class="one-third column project-card">
            <a href="urban_agriculture.html">
              <div class="project-image" id="urban-agriculture"></div>
              <div class="project-text">Urban Agriculture<br>Exhibit Design</div>
	    </a>
          </div>

          <div class="one-third column project-card">
            <div class="project-image" id="rest-your-tired-bones"></div>
            <div class="project-text">Rest Your Tired Bones<br>Furniture Design</div>
          </div>

          <div class="one-third column project-card">
            <div class="project-image" id="windshield-glass"></div>
            <div class="project-text">Vestergaard Frandsen Exploration<br>Product/Business</div>
          </div>
        </div>
      </div>
    </section>

    <!-- About -->
    <a id="about"></a>
    <section class="panel" id="about">
      <div class="row">
        <div class="five columns header-block">
          <a class="im-a-human-bean" href="https://www.youtube.com/watch?v=KOlvNyseYTY&t=2m23s">
            A human bean
	  </a>
        </div>
      </div>

      <div class="container">
	<div class="row">
	  <div class="five columns description">
	    <p>
	    Hi! I'm Athena, and I really do try to live up to the name. 
	    I love examining and deeply understanding problems to craft meaningful, 
	    logical, and human-centered solutions. You could say it's my non-Greek 
	    goddess attempt at creatively strategizing for righteous wars!
	    </p>
	    <p>
	    Currently, I design impactful digital experiences for students and teachers, 
	    focusing on ways to facilitate achievement and engagement.
	    </p>
	    <p>
	    In my off time, I enjoy creating somethings out of nothing, 
	    inventing recipes for baked goods, and contemplating ways to save the world.
	    </p>
	  </div>

	  <div class="seven columns selfie"></div>
	</div>
      </div>
    </section>

    <!-- Contact -->
    <a id="contact"></a>
    {{> footer}}
  </section>
</body>
</html>
