<!DOCTYPE html>
<html lang="en">
<head>
  {{> common-head}}

  <link rel="stylesheet" href="css/tired_chair.css">
</head>
<body>
  <!-- Navbar -->
  {{> navbar}}

  <!-- Opening image -->
  <section class="opening"></section>

  <!-- Project title -->
    <section class="title u-full-width">
      <p class="project-title">Rest Your Tired Bones</p>
      <p class="client">Furniture Design</p>
    </section>

  <!-- Project details -->
  <section class="project-description">
     <!-- Summary -->
    <div class="row full-width-text-block text-block-1">
In design, you seek to create something resilient. With this chair concept, I aimed to explore the ways a piece of furniture can embody multiple dimensions of this word through the functionality and material choice.
    </div>

    <!-- Problem -->
    <div class="full-width-image-block image-block-1 u-full-width">
      <div class="row">
        <div class="four columns tired-chair-problem-img"></div>
        <div class="eight columns text-block">
          <p>
Many discarded items find their way to the landfill without being used for a second life. Inner tubes are often discarded after a rip or hole, rendering them less ideal for their intended purposes, but the inherent, useful properties of the material are not lost.
	  </p>
	  <p>
Can we use reclaimed materials to create lasting objects that serve a purpose? 
          </p>
        </div>
      </div>
    </div>

    <!-- Process -->
    <div class="row full-width-text-block text-block-2">
	<p>
Upcycled inner tubes embody resilience in a multitude of ways: they withstand pressure, provide stretch and spring back, and can go from disposal to once again valued. When cleaned, reinforced through lamination, and woven together, inner tubes form an incredibly strong and forgiving surface. 
	</p>
	<p>
A square stock steel frame was cut, bent, and welded together to provide a steadfast base.
	</p>
    </div>
    <div class="row">
      <div class="tired-chair-process-img"></div>
    </div>

    <!-- Solution -->
    <div class="full-width-image-block image-block-2 u-full-width">
      <div class="row text-block">
The frame, with minimal inner tubes directly woven on (pictured below) is able to hold a weight of 115lbs. The removable woven seat prototype is capable of supporting a 250lbs man comfortably without bottoming out on the frame, while still bouncing back to its original state.
      </div>
      <div class="row">
        <div class="solution-carousel">
          <div class="tired-chair-solution-1-img"></div>
          <div class="tired-chair-solution-2-img"></div>
        </div>
      </div>
    </div>

    <!-- Afterword -->
    <div class="afterword">
      <div class="row text-block">
By understanding the characteristics of materials and leaving room for exploration, it's possible to find new and exciting potential for reclaimed objects and building materials. I still think twice before recycling or discarding almost anything!
      </div>
    </div>
  </section>

  <!-- Contact -->
  {{> footer}}

</body>
</html>
