<!DOCTYPE html>
<html lang="en">
<head>
  {{> common-head}}

  <link rel="stylesheet" href="css/urban_agriculture.css">
</head>
<body>
  <!-- Navbar -->
  {{> navbar}}

  <!-- Opening image -->
  <section class="opening"></section>

  <!-- Project title -->
  <section class="title u-full-width">
    <p class="project-title">Urban Agriculture Exhibit</p>
    <p class="client">Exhibit/Communication Design</p>
  </section>

  <!-- Project details -->
  <section class="project-description">
    <div class="container">
      <div class="row full-width-text-block text-block-1">
	      As students at RISD, we were asked to design exhibits that create an 
	      educational experience around an environmental or social issue. 
	      My group elected to build an immersive exhibit about how urban agriculture, 
	      and supporting local initiatives, is an easy way to make a positive 
	      impact on food culture, as well as the environment.
      </div>
    </div>

    <div class="full-width-image-block image-block-1 u-full-width">
      <div class="container">
        <div class="row">
	  <div class="five columns uae-problem-img"></div>
	  <div class="seven columns text-block text-block-1">
		  <p>
		  With bloating city populations, more and more produce 
		  gets imported from faraway farms to feed the masses. 
		  A consumer assumption, additionally, 
		  is that when goods are labeled "organic," they're 
		  inherently better in quality and wholly.
		  </p>
		  <p>
		  There is a better way to get fresh food, 
		  even in an urban environment. 
		  Our aim for the exhibit was to communicate and convince our 
		  audience of the advantages of supporting community gardens.
		  </p>
	  </div>
	</div>
      </div>
    </div>

    <div class="container">
      <div class="row full-width-text-block text-block-2">
	<p>
	We researched the detrimental processes around how our nearest grocery 
	store, Whole Foods, obtains their produce, as well as the community building 
	and environmental aspects of local urban gardens.
        </p>
	<p>
	After visiting a Providence community garden, we were determined to 
	bring the rustic, earthy feeling to our exhibition space to share with our audience.
        </p>
      </div>
      <div class="row">
        <div class="uae-process-img"></div>
      </div>
    </div>

    <div class="row full-width-image-block image-block-2 u-full-width">
      <div class="container">
	<div class="row text-block">
		<p>
		Our urban agriculture exhibit focused on communicating the differences 
		in carbon footprint, as well as freshness, of locally sourced and Whole 
		Foods produce. We sought to engage memory, forward thinking, as 
		well as taste through informative signs, takeaway seeds, and apples 
		to taste test (to compare apples to apples, if you will).
		</p>
        </div>
	<div class="row">
	  <div class="solution-carousel">
	    <div class="uae-solution-1-img"></div>
	    <div class="uae-solution-2-img"></div>
	    <div class="uae-solution-3-img"></div>
	    <div class="uae-solution-4-img"></div>
	  </div>
	</div>
      </div>
    </div>

    <div class="afterword">
      <div class="container">
        <div class="row text-block text-block-3">
		At the end of the department exhibition, we donated our exhibit 
		to a local community garden in Providence to continue educating 
		the public about the benefits of urban agriculture and how to make 
		ecological conscious choices. 
	</div>
	<div class="row image-row">
          <div class="image-block-3 u-full-width"></div>
	</div>
      </div>
    </div>
  </section>

  <!-- Contact -->
  {{> footer}}

</body>
</html>
