<!DOCTYPE html>
<html lang="en">
<head>
  {{> common-head}}

  <link rel="stylesheet" href="css/vestergaard_frandsen.css">
</head>
<body>
  <!-- Navbar -->
  {{> navbar}}

  <!-- Opening image -->
  <section class="opening"></section>

  <!-- Project title -->
    <section class="title u-full-width">
      <p class="project-title">Vestergaard Frandsen Exploration</p>
      <p class="client">Product/Business</p>
    </section>

  <!-- Project details -->
  <section class="project-description">
     <!-- Summary -->
    <div class="row full-width-text-block text-block-1">
To better comprehend how business and design work hand in hand, I analyzed Vestergaard Frandsen’s current product offerings, as well as business model. Following their values and mission, I conceptualized a three product line expansion for Vestergaard Franssen’s humanitarian entrepreneurial work.
    </div>

    <!-- Problem -->
    <div class="full-width-image-block image-block-1 u-full-width">
      <div class="row">
        <div class="seven columns vest-frands-problem-img"></div>
        <div class="five columns text-block">
          <p>
Large populations of vulnerable people in developing nations do not have the resources to protect themselves from prevalent infectious diseases. Lack of clean water causes myriad illnesses that prevent individuals from going to school or making a living.
          </p>

          <p>
These diseases cause individual suffering and easily spread to the larger community without intervention.
          </p>
        </div>
      </div>
    </div>

    <!-- Process -->
    <div class="row full-width-text-block text-block-2">
Vestergaard Frandsen distributes their chemically impregnated interventions to communities in developing nations. Their Lifestraw and mosquito nets address different aspects of disease prevention at the individual and family level. To build upon Vestergaard Frandsen’s humanitarian mission, I designed a series of health promotion products that encourage habit building at the individual, family, and community conscious level.
    </div>
    <div class="row">
      <div class="vest-frands-process-1-img"></div>
    </div>
    <div class="row">
      <div class="vest-frands-process-2-img"></div>
    </div>

    <!-- Solution -->
    <div class="full-width-image-block image-block-2 u-full-width">
      <div class="row text-block">
        <p>
The proposed expansion to the Vestergaard Frandsen line of engineered textiles centers around the idea that being aware of and proactive with one's personal hygiene can help save an individual's life, as well as the lives around him or her.
        </p>

        <p>
Each item pairs with an existing intervention or kit that Vestergaard Frandsen distributes to communities of need.
        </p>
      </div>
      <div class="row">
        <div class="solution-carousel">
          <div class="vest-frands-solution-1-img"></div>
          <div class="vest-frands-solution-2-img"></div>
          <div class="vest-frands-solution-3-img"></div>
          <div class="vest-frands-solution-4-img"></div>
        </div>
      </div>
    </div>

    <!-- Afterword -->
    <div class="afterword">
      <div class="row text-block">
        <p>
This school project was an important lesson in the significance of first hand user research and authentic empathy. Vestergaard Frandsen has received criticism for implementing first world solutions in developing nations, without truly understanding the lifestyles and needs of those they are seeking to help.
	</p>

	<p>
The above project was true to the model company's modus operandi as research was limited to learning about the illnesses of the regions served and documentation of how people are afflicted, without observation of the customs of the end users. Solutions built on assumptions are essentially casting a wide net, hoping to catch a few successes, rather than meeting the root of users' needs.
	</p>
      </div>
      <div class="row">
        <div class="image-block-3 u-full-width"></div>
      </div>
      <div class="row text-block">
        When we look at a comparison from the early release to a more recent time, we can see a rightward 
        shift in earned star ratings. There was a 10% increase in percentage of 4 star ratings earned by student 
        projects in the latter end of the observation cycle.
      </div>
    </div>
  </section>

  <!-- Contact -->
  {{> footer}}

</body>
</html>
