<!DOCTYPE html>
<html lang="en">
<head>
  {{> common-head}}

  <link rel="stylesheet" href="css/video_feedback.css">
</head>
<body>
  <!-- Navbar -->
  {{> navbar}}

  <!-- Opening image -->
  <section class="opening"></section>

  <!-- Project title -->
    <section class="title u-full-width">
      <p class="project-title">Student-Teacher Project Feedback Loop</p>
      <p class="client">UI/UX for eSpark Learning</p>
    </section>

  <!-- Project details -->
  <section class="project-description">
    <div class="container">
      <div class="row full-width-text-block text-block-1">
	      Performance tasks are asked of students at the end of each quest in eSpark to show 
	      a deeper understanding of the skill they have just practiced. To truly bring value 
	      to this feature, there needed to be a way for teachers to give quick and meaningful 
	      feedback.
      </div>
    </div>

    <div class="full-width-image-block image-block-1 u-full-width">
      <div class="container">
        <div class="row">
	  <div class="seven columns vf-problem-img"></div>
	  <div class="five columns text-block">
		  <p>
		  We noticed that students were making 
		  teach-back videos of low quality (as in, 
		  students answered custom prompts 
		  incorrectly or inaudibly), and there was 
		  no easy way for teachers to access their 
		  students' work. 
		  </p>

		  <p>
		  We examined what we called the "Cycle 
		  of Poorly Made Student Videos" to 
		  determine that teachers needed direct 
		  ways to find and give feedback on 
		  students' projects in order for quality to 
		  improve.
		  </p>
	  </div>
	</div>
      </div>
    </div>

    <div class="container">
      <div class="row full-width-text-block text-block-2">
	      This is the first time we implemented a direct in-app loop of communication between 
	      student and teacher. The flow had to be simple and discoverable so that we don't end 
	      up having broken links, and subsequently perpetuate the cycle of poorly made student videos.
      </div>
      <div class="row">
        <div class="vf-process-1-img"></div>
      </div>
      <div class="row">
        <div class="vf-process-2-img"></div>
      </div>
      <div class="row">
        <div class="vf-process-3-img"></div>
      </div>
      <div class="row">
        <div class="vf-process-4-img"></div>
      </div>
    </div>

    <div class="row full-width-image-block image-block-2 u-full-width">
      <div class="container">
	<div class="row text-block">
	  <p>
	  This feature was launched and rolled out to all partners in November of 2015. 
	  Teachers receive direct links to recently submitted student videos on a weekly basis. 
	  Teachers can quickly give student projects a rating out of four stars, accompanied by 
	  an optional custom comment.
	  </p>

	  <p>
	  Students see personalized feedback in their own app environment and can return to 
	  review it at any time.
	  </p>
        </div>
	<div class="row">
	  <div class="solution-carousel">
	    <div class="vf-solution-1-img"></div>
	    <div class="vf-solution-2-img"></div>
	    <div class="vf-solution-3-img"></div>
	    <div class="vf-solution-4-img"></div>
	    <div class="vf-solution-5-img"></div>
	    <div class="vf-solution-6-img"></div>
	    <div class="vf-solution-7-img"></div>
	  </div>
	</div>
      </div>
    </div>

    <div class="afterword">
      <div class="container">
        <div class="row text-block">
	  Since launch, over 32,000 student videos have been graded and given individual, meaningful feedback. 
	  The goal is to ultimately see improvement in the quality of student submissions, whether that be in 
	  presentation skills or mastery of a skill.
	</div>
	<div class="row">
          <div class="image-block-3 u-full-width"></div>
	</div>
	<div class="row text-block">
	  When we look at a comparison from the early release to a more recent time, we can see a rightward 
	  shift in earned star ratings. There was a 10% increase in percentage of 4 star ratings earned by student 
	  projects in the latter end of the observation cycle.
	</div>
      </div>
    </div>
  </section>

  <!-- Contact -->
  {{> footer}}

</body>
</html>
