<!DOCTYPE html>
<html lang="en">
<head>
  <!-- CSS
  --------- -->
  <link rel="stylesheet" href="node_modules/skeleton-css/css/normalize.css">
  <link rel="stylesheet" href="node_modules/skeleton-css/css/skeleton.css">
  <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/project_details.css">
</head>
<body>
  <!-- Navbar -->
  {{> navbar}}

  <!-- Project details -->
  {{> project_details }}

  <!-- Contact -->
  {{> footer}}

</body>
</html>
