<p>
Hi! I'm Athena, and I really do try to live up to the name. 
I love examining and deeply understanding problems to craft meaningful, 
logical, and human-centered solutions.
</p>
<p>
Currently, I design impactful digital experiences for students and teachers, 
focusing on ways to facilitate achievement and engagement.
</p>
<p>
In my off time, I enjoy creating somethings out of nothing, 
inventing recipes for baked goods, and contemplating ways to save the world.
</p>
