<!-- Contact -->
<section class="panel" id="contact">
  <section class="get-connected">
    <div class="container">
      <div class="tea-time">
	      Questions? Tea time? <span class="call-to-action"><a href="mailto:athena.w.lo@gmail.com">I'd love to hear from you!</a></span>
      </div>
    </div>
  </section>

  <section class="social">
    <section class="social-links">
      <div class="preamble-text">I also exist here:</div>

      <div class="links">
	<a href="https://www.linkedin.com/in/athena-lo-9474bb19">
	  <i class="fa fa-linkedin-square" aria-hidden="true"></i>
	</a>
	<a href="http://fatandhappyforever.tumblr.com/">
	  <i class="fa fa-tumblr-square" aria-hidden="true"></i>
	</a>
	<a href="https://twitter.com/AthenaWhoa">
	  <i class="fa fa-twitter-square" aria-hidden="true"></i>
	</a>
	<a href="https://www.instagram.com/athenawhoa/">
	  <i class="fa fa-instagram" aria-hidden="true"></i>
	</a>
      </div>
    </section>

    <section class="postamble">
      &copy; 2016 Athena Lo
    </section>
  </section>
</section>
